* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header-container {
  display: flex;
  text-align: center;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ou ajuster selon les besoins */
  overflow: hidden; /* Assure que rien ne dépasse */
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.wrapper {
  width: 100%;
  position: absolute;
  top: 20%;
  color: white;
  padding: 10rem 0 0;
}


.wrapper .content {
  font: lighter 3rem "poppins", sans-serif;
}

.wrapper .content ol {
  list-style: none;
  --height: 3.8rem;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
}

.wrapper .content ol li {
  animation: slide-up 12s infinite;
}

@keyframes slide-up {
  0%, 10% {
      transform: translateY(0%);
  }
  15%, 25% {
      transform: translateY(-100%);
  }
  30%, 40% {
      transform: translateY(-200%);
  }
  45%, 55% {
      transform: translateY(-300%);
  }
  60%, 70% {
      transform: translateY(-400%);
  }
  75%, 85% {
      transform: translateY(-500%);
  }
}

.wrapper .content ol li span {
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(rgb(226 44 56), rgba(170, 9, 36, 0.712));
  -webkit-background-clip: text;
  background-clip:to-lower-case($string: "");
  white-space: nowrap;
}

#progress-bar-section {
  background: linear-gradient(to right, whitesmoke 0%, white 15%, white 90%, whitesmoke 100%);
  color: black;
  h2 {
    font-weight: 900;
    color: black;
    font-size: 30px;
    line-height: 1.4em;
    text-align: center;
    max-width: 450px;
    margin: auto;
    padding: 50px 0;
    text-shadow: 1px 1px gray;
    span {
      color: rgb(226 44 56);
      text-shadow: 1px 1px gray;
    }
  }
  
  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: row;
    position: relative;
    .left {
      width: 30%;
      text-align: right;
      padding: 50px 0;
      font-size: 22px;
      font-weight: 600;
    }
    .progress-bar {
      content: '';
      z-index: 1;
      width: 3px;
      height: 100%;
      background-color: #414141;
      position: absolute;
      left: 50%;
      margin-left: -1.5px;
    }
    .dot {
      z-index: 2;
      font-size: 30px;
      background-color: white;
      border-radius: 50%;
      display: flex;
    }
    .right {
        width: 30%;
        text-align: left;
        padding: 50px 0;
        font-size: 17px;
        span {
          font-weight: 900;
          background: black;
          border-radius: 10px;
          color: white;
          padding: 10px;
        }
    }
  }
  h3 {
    font-weight: 900;
    color: black;
    font-size: 30px;
    line-height: 1.4em;
    text-align: center;
    margin: auto;
    padding: 0 0 50px;
    text-shadow: 1px 1px gray;
  }
}


.triangle {
  position: relative;
  background: linear-gradient(to right, whitesmoke 0%, white 15%, white 90%, whitesmoke 100%);
  height: 10px;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #ffffff transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}



.pricing-table {
  background-color: rgb(33, 31, 35);
  background-repeat: no-repeat;
  background: radial-gradient(circle at bottom, rgba(83, 69, 91, 1) 50%, rgba(32, 30, 34, 1) 70%);
  padding: 40px 20px;
}
.pricing-table .details {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}
.pricing-table .details h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
.pricing-table .details p {
  font-size: 15px;
  color: #fff;
}
.pricing-table .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 0;
  padding: 20px;
}
.pricing-table .grid .box {
  width: 300px;
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
}
.pricing-table .grid .box .title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
  padding: 0 0 20px;
  border-bottom: 1px solid;
}
.pricing-table .grid .box .price {
  margin-bottom: 20px;
}
.pricing-table .grid .box .price span {
  font-size: 11px;
  position: relative;
  bottom: 5px;
}
.pricing-table .grid .box .price b {
  display: block;
  font-size: 40px;
  margin-bottom: -5px
}
.pricing-table .grid .box .features > * {
  color: #555;
  font-size: 13px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pricing-table .grid .box .button button {
  width: 100%;
  margin: 25px 0 0;
  padding: 10px;
  background: linear-gradient(rgb(226 44 56), rgba(140, 9, 31));
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.pricing-table .grid .premium {
  transform: scale(1.1);
  background: linear-gradient(rgb(226 44 56), rgb(140, 9, 31));
}
.pricing-table .grid .premium .title {
  color: #eee;
}
.pricing-table .grid .premium .price {
  color: #fff;
}
.pricing-table .grid .premium .features > * {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.pricing-table .grid .premium .button button {
  background: #fff;
  color: #3a6073;
} 

@media (max-width:804px){
  .pricing-table .grid {
    gap: 50px;
  }
}

.pricing-table .container {
  display: flex;
  align-items: center;
  .name {
    width: 90%;
    text-align: left;
    padding-inline-start: 5px;
  }
}


/* Carrousel */
.testimonial-carousel {
  width: 80%;
  margin: 0 auto;
}

.testimonial {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

/* Style pour le logo Google */
.google-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.google-logo img {
  width: 100%;
  height: auto;
}

.client-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.client-photo img {
  width: 100%;
  height: auto;
}

.client-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.stars {
  font-size: 20px;
  color: #f5b301;
  margin-bottom: 10px;
}

.comment {
  font-size: 16px;
  font-style: italic;
  color: #333;
  height: 100px;
}

/* Section des avis et notes */
.reviews-summary {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
}

.review-item {
  text-align: center;
}

.stars {
  font-size: 24px;
  color: #f5b301;
}

.score {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.review-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.logo {
  width: 50px;
  vertical-align: middle;
}

/* Texte pour le résumé des entreprises */
.business-summary {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.reviews-summary .business-summary {
  color: black;
  display: flex;
  align-items: center;
  font-size: 16px;
  max-width: 70%;
  margin: 0 auto 10px;
}

.cta-button {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  background: linear-gradient(rgb(226 44 56), rgba(140, 9, 31));
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

#proof {
  background: linear-gradient(to right, whitesmoke 0%, white 15%, white 90%, whitesmoke 100%);
  padding: 50px;
}
#proof .title {
  text-align: center;
}
#proof .title h2{
  font-weight: 600;
}

.slick-list .slick-track {
  left: -10px;
}

.slick-slide {
  padding: 20px 10px;
}

.slick-slider .slick-arrow:before {
  font-size: 25px;
  color: rgba(128, 128, 128, 0.75);
  border-radius: 100%;
  height: 38px;
}
.slick-slider .slick-arrow:hover {
  opacity: 1;
}
.slick-slider .slick-arrow:focus {
  opacity: 1;
}
.slick-slider .slick-prev {
  left: -40px;
}